#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 5;
}
#status {
    width:100vw;
    height:100vh;
    position:absolute;
    background-image:url('../images/preloader.gif');
    background-repeat:no-repeat;
    background-position:center;
}

.hidden {
    display: none;
}

section {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
    position: relative;
}

main {
    position: absolute;
    float: left;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
div.information, div.date {
    color: white;
}

div.information {
    top: 70%;
    font-size: 2.5em;
}

div.date {
    top: 70%;
    font-size: 2em;
}
#image {
    text-align: center;
}

.next_image {
    margin: 3vh;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 4px;
    border: transparent;
    color: white;
    background-color: gray;
}
.next_image:focus {
    outline: none;
    border: transparent;
}
